<div class="p-grid">
    <div class="p-col-12">
        <div>
            <span class="p-d-inline label-style">Nazwa produktu:</span>
            <span class="p-d-inline value-style">{{ itemDetails.item_name }}</span>
        </div>
        <div>
            <span class="p-d-inline label-style">Kategoria:</span>
            <span class="p-d-inline value-style">{{ itemDetails.category }}</span>
        </div>
        <div>
            <span class="label-style">Ilość posiadanych przedmiotów:</span>
            <span class="value-style">{{ itemDetails.number_of_item }}</span>
        </div>
        <div>
            <span class="label-style">Cena za ile został kupiony przedmiot:</span>
            <span class="value-style">{{ itemDetails.purchase_price_one_quantity }}</span>
        </div>
        <div>
            <span class="label-style">Suma za ile został kupiony przedmiot:</span>
            <span class="value-style">{{ itemDetails.sum_purchasing_item }}</span>
        </div>
        <div>
            <span class="label-style">Cena w dniu premiery:</span>
            <span class="value-style">{{ itemDetails.price_day_premiere }}</span>
        </div>
        <div>
            <span class="label-style">Premiera:</span>
            <span class="value-style">{{ itemDetails.day_premiere }}</span>
        </div>
        <div>
            <span class="label-style">Aktualna cena przedmiotu:</span>
            <span class="value-style">{{ itemDetails.current_price }}</span>
        </div>
        <div>
            <span class="label-style">Stan zakupionego przedmiotu:</span>
            <span class="value-style">{{ itemDetails.buying_quality }}</span>
        </div>
        <div>
            <span class="label-style">Aktualny stan przedmiotu:</span>
            <span class="value-style">{{ itemDetails.currency_quality }}</span>
        </div>
        <div>
            <span class="label-style">Kupiono w:</span>
            <span class="value-style">{{ itemDetails.bought_in }}</span>
        </div>
        <div>
            <span class="label-style">Data wystawienia przedmiotu:</span>
            <span class="value-style">{{ itemDetails.date_of_issue }}</span>
        </div>
        <div>
            <span class="label-style">Aktualna ilość wystawionych przedmiotów:</span>
            <span class="value-style">{{ itemDetails.current_number_item_on_display }}</span>
        </div>
        <div>
            <span class="label-style">Aktualna ilość sprzedanych przedmiotów:</span>
            <span class="value-style">{{ itemDetails.current_number_item_sold }}</span>
        </div>
        <div>
            <span class="label-style">Waluta za jaką został kupiony przedmiot:</span>
            <span class="value-style">{{ itemDetails.purchase_currency }}</span>
        </div>
        <div>
            <span class="label-style">Waluta w jakiej jest sprzedawany przedmiot:</span>
            <span class="value-style">{{ itemDetails.selling_currency }}</span>
        </div>
        <div>
            <span class="label-style">Data wazności aukcji:</span>
            <span class="value-style">{{ itemDetails.expiration_date }}</span>
        </div>
        <div>
            <span class="label-style">Czy aktywna aukcja:</span>
            <span class="value-style">{{ itemDetails.active }}</span>
        </div>
        <div>
            <span class="label-style">Data dodania przedmiotu do bazy:</span>
            <span class="value-style">{{ itemDetails.create_date }}</span>
        </div>
        <div>
            <span class="label-style">Ostatnia aktualizacja przedmiotu:</span>
            <span class="value-style">{{ itemDetails.update_date }}</span>
        </div>
    </div>
</div>